/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: pink;
}
.header .logo {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
}
.header .btn-allmenu {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
}

/* CONTAINER */
#container {
  padding: 5rem 0;
}

/* ALLMENU */
.all-menu {
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: pink;
  transform: translateX(100vh);
  transition: all 0.5s;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
}
.all-menu.is-active {
  visibility: visible;
  width: 100%;
  transform: translateX(0);
}
.all-menu .btn-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: pink;
}
.nav > a {
  font-size: 1.5rem;
}

.section {
  padding: 0 2rem;
}

/* BUTTON */
.btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.btn.secondary {
  background-color: yellow;
  color: #000;
}
.btn.underline {
  width: auto;
  text-decoration: underline;
}
.btn-group {
  display: flex;
  flex-direction: column;
}
.btn-group .btn + .btn {
  margin-top: 1rem;
}

/* TAB */
.tab-list {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}
.tab-list li.is-active {
  background-color: red;
}
.tab-panel {
  display: none;
}
.tab-panel.is-active {
  display: block;
}

/* POPUP */
.layer-popup {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
}
.layer-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2rem 2rem 0 0;
}
.layer-head {
  padding: 2rem;
  font-size: 1.5rem;
}
.layer-close {
  position: absolute;
  top: 0;
  right: 0;
}

/* TITLE */
.tit-wrap {
  padding: 2rem;
}
.tit-page {
  font-size: 3.4rem;
  font-weight: 700;
}

/* TEXT */
.text {
  font-size: 1.5rem;
}

/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: -5rem 0;
}

/* MAIN */
.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu-item {
  flex: 50%;
  height: 10rem;
  padding: 1rem;
  border-radius: 3rem;
}
.menu-item > a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: aqua;
}