.g-wrap {

}
  
.g-item + .g-item {
    margin-top:3rem;
}

.g-title {
    font-size:2rem;
    font-weight:700;
    color:red;
}

.g-item-wrap +.g-item-wrap {
    margin-top:5rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
http://krasset.com/front/guide/index.html
*/
/* guide : header */
.guide-wrapper .guide-header {display:flex; align-items:center; height:6rem; position: sticky; top:0; right:0; left:0; padding:2rem; background-color:#fff; border-bottom:1px solid gray; z-index:2; }
.guide-wrapper .guide-header .tit { font-size:2.2rem; line-height: 1;}

/* guide : container */
#guide-container {display:flex; min-height: 100vh; }
  
/* guide : aside */
.guide-aside {min-width: 15rem; padding:1.5rem 0 0 1.5rem}
.guide-aside .list {padding:1.4rem; border-radius: 10px; border:1px solid #f3f3f3;}
.guide-aside .list>li+li {margin-top:1.3rem}
.guide-aside .list>li.is-active strong{ font-weight:600;}
.guide-aside strong {display:block; margin-bottom:1rem; font-size:1.4rem;}
  
.guide-content {width:100%; padding:2.6rem 1.5rem 1.5rem}
.guide-section .tit {margin-bottom:.5rem; font-size:1.6rem}
.guide-section .guide-box {background-color:#f3f3f3; padding:1.5rem; font-size:1.2rem; border-radius: 10px;}
.guide-section + .guide-section  {margin-top:4rem;}

.guide-wrapper .bullet>li {position:relative; padding-left:.8rem; font-size: 1.2rem;}
.guide-wrapper .bullet>li + li {margin-top:.4rem}
.guide-wrapper .bullet>li:after {display:block; content:""; width:.3rem; height:.3rem; position:absolute; top:.5rem; left:0; background-color:#b3b3b3; border-radius: 100%;}

.guide-wrapper #data-filter {display: flex; align-items: center; justify-content: flex-end; gap:1rem; padding:1rem 0; font-size:1.2rem}
.guide-wrapper #data-filter em {font-weight: 600;}
.guide-wrapper #data-table{width:100%; background-color:#fff; border:1px solid #cbcbcb; border-radius:5px;}
.guide-wrapper #data-table thead th {background-color:#f3f3f3; padding:1rem 0; font-weight:600; font-size:1.3rem}
.guide-wrapper #data-table td {padding:.5rem; font-size:1.1rem; border-top:1px solid #cbcbcb;}
.guide-wrapper #data-table th + th,
.guide-wrapper #data-table td + td { border-left:1px solid #cbcbcb}
.guide-wrapper #data-table td:first-child,
.guide-wrapper #data-table td:last-child {text-align:center;}
.guide-wrapper #data-table a {text-decoration: underline;}