/* Base */
html,
body {
  height: 100%;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

::before,
::after,
html,
body,
div,
ul,
ol,
dl,
li,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
thead,
tbody,
tr,
th,
td,
caption,
address,
article,
aside,
canvas,
details,
figure,
figcaption,
main,
footer,
header,
menu,
nav,
section,
button,
select,
textarea,
input,
form,
fieldset,
legend,
label,
a,
span,
strong,
em,
address,
pre,
code,
dfn,
small,
i,
b {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: inherit;
  list-style: none;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
menu,
nav,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Spoqa Han Sans Neo"; */
  color: #222222;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -0.02rem;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

[hidden],
hr {
  display: none;
}

img {
  vertical-align: middle;
}

button {
  background-color: transparent;
  cursor: pointer;
}

fieldset,
iframe {
  width: 100%;
}

img,
a,
frame,
iframe,
fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: inherit;
}

caption {
  height: 1px;
  overflow: hidden;
}

legend {
  position: fixed;
  overflow: hidden;
  border: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

button {
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0px;
  padding: 0px;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

input[type=checkbox],
input[type=radio],
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

textarea {
  resize: none;
}

input,
textarea {
  caret-color: auto;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

[tabindex="0"]:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

[tabindex="0"],
a,
button,
input,
textarea,
select {
  -webkit-tap-highlight-color: transparent;
}

select::-ms-expand {
  display: none;
}

input[type=radio]:focus-visible + label,
input[type=checkbox]:focus-visible + label {
  -webkit-box-shadow: 0 0 0 2px rgba(77, 77, 77, 0.5);
          box-shadow: 0 0 0 2px rgba(77, 77, 77, 0.5);
}

input[type=password] {
  font-family: "pass", sans-serif;
}
input[type=password]::-webkit-input-placeholder {
  font-family: "Spoqa Han Sans Neo";
}
input[type=password]::-moz-placeholder {
  font-family: "Spoqa Han Sans Neo";
  opacity: 1;
}
input[type=password]:-ms-input-placeholder {
  font-family: "Spoqa Han Sans Neo";
}


.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}



/* skipNavigation */
#skipNavigation {
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
    margin: 0 auto;
    z-index: 9999;
  }
  #skipNavigation a {
    display: block;
    height: 35px;
    color: #fff;
    text-align: center;
    background-color: #705d58;
  }
  #skipNavigation a:active, #skipNavigation a:focus-visible {
    width: 100%;
    position: absolute;
    left: 0;
    top: 200px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    background: #705d58;
    border-bottom: 1px solid #d8d8d8;
}