@charset "utf-8";

@font-face {
    font-family: 'SCDream';
    font-weight: 300;
    src: local('SCDreamLight'),
    url('./../fonts/SCDreamLight.otf') format('otf'),
    url('./../fonts/SCDreamLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SCDream';
    font-weight: 500;
    src: local('SCDreamMedium'),
    url('./../fonts/SCDreamMedium.otf') format('otf'),
    url('./../fonts/SCDreamMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'SCDream';
    font-weight: 700;
    src: local('SCDreamBold'),
    url('./../fonts/SCDreamBold.otf') format('otf'),
    url('./../fonts/SCDreamBold.ttf') format('truetype');
}
