/* BUTTON */
.btn {
    $root: &;
    display: inline-flex;
    align-items: center;  
    justify-content: center;      
    width: 100%; 
    height:6rem;            
    position: relative;          
    padding:1rem; 
    font-size:1.8rem;
    font-weight: $f-bold;
    text-align:center;
    color:$c-default ;
    border-radius: $b-raduius-14;  
    box-sizing: border-box;  
    overflow: hidden;
    &.primary {
        background-color:$c-primary;    
    }
    &.secondary {
        background-color:$c-secondary;    
    }
    &.tertiary{
        background-color:$c-tertiary;    
    }
    &.default {
        background-color:$c-default;    
        color:$c-black ;
    }
    &.kakao {
        background-color:$c-kakao;    
        color:$c-black ;
    }
    &.disabled {
        background-color:$c-gray;     
    }
    
    &.ico-call {
        width:2rem;
        height:2rem;
        background-color: pink;
        border:1px solid red;
    }
    &-wrap {  
        display: block !important;  
        width: 100%;
        padding:1.6rem 2rem;  
        .btn + .btn {  
            margin-top:.8rem;
        }
        &.option-flex {
            display: flex;
            gap:1.9rem;
        }   
    }
    
}      
 
