.highlight {
    color:$c-highlight !important;  
}

.space-none {
    padding:0 !important;
}

/* INTRO */    
.section.intro {
    $root: &;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    padding:3.2rem 3rem;
    .page-tit-wrap {
        padding:0 1rem;
        margin-bottom:2.6rem;
    } 
    .card-btns {
        display: flex;;  
        flex-direction: column;
        align-items: center;
        padding-top:1rem;
        .btn { 
            width:24rem;
            height:20rem;
            font-size: 2.4rem;
            border-radius:$b-raduius-24;
            box-shadow: $b-shadow;
            &+.btn{
                margin-top:$space-24;
            }
            &.default {
                background-color:$c-default;    
                color:$c-black;
                border-color:$c-default;
            }
        } 
        &.option-full {
            padding-top:0;
            .btn {
                width :100%;
                height:10rem;
                font-size:2rem;  
                &+.btn{
                    margin-top:$space-16;
                }
            }
        }
    }  
}

/* 상품 페이지 */   
.section.product {
    $root: &;
    /* 상품평 */
    .product-comment {
        &-list {      
            &>li>a {
                display:flex;
                flex-direction: column;
                padding:$space-16 0;  
                border-top:1px solid $c-gray5;  
                font-size:1.6rem;
                font-weight: $f-medium;
            }
            .txt {                
                margin-top:.8rem;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                font-weight: $f-normal;
                overflow: hidden;
            }
            .date {
                margin-left:.8rem;
                font-size:1.4rem;
                font-weight: $f-normal;
            }
        }
    }
    .group {
        margin:4rem 0;
    }
}

/* 결재하기 */
.product-option {
    $root: &;
    &-tit {
        font-size:2rem;
        margin-bottom:.8rem;
    }
    &-wrap {
        margin-top:4rem;
    }
    .price-wrap {
        margin-top:0;
    }
    
}




