
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:6.4rem;
    position:sticky;
    top:0;
    left:0;
    padding:.8rem 2rem;
    background-color:$c-default;
    z-index: 2;
    [class*=ico-] {
        display:block;
        // width:2.4rem;
        // height:2.4rem;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
    }
    // .ico-back {
    //     width:4.8rem;
    //     height:4.8rem;
    //     background-image:url('../../img/ico-back.svg');
    //     border-radius: $b-raduius;
    //     box-shadow: $b-shadow;
    // }
    .ico-home {
        width:1.8rem;
        height:2rem;
        background-image:url('../../img/ico-home.svg');
        background-size:1.8rem 2rem;
    }
    .ico-search { 
        width:2rem;
        height:2rem;
        background-image:url('../../img/ico-search.svg');  
        background-size:2rem 2rem;      
    }
    .ico-basket {
        width:2.5rem;
        height:2rem;
        background-image:url('../../img/ico-basket.svg');
        background-size:2.5rem 2rem;
        .num {
            &>i {
                display:inline-flex;
                align-items: center;
                justify-content: center;
                min-width: 2rem;
                min-height: 2rem;
                background-color:$c-red;
                border-radius: $b-raduius;
            }
            position: absolute;
            top:-1rem;
            right:-1rem;
            background-color: $c-default;
            padding:.2rem;
            color:$c-default;
            font-family: Work Sans;
            font-size:1.4rem;
            font-weight: 600;;
            border-radius: $b-raduius;
           
        }
    }
    &-tit {
        margin:.8rem 0 0 .8rem;
        font-size:2.8rem;
    }
    &-left {
        display:flex;
        align-items: center;
       
    }
    &-right {
        display:flex;
        align-items: center;
        [class*=ico-] {
            margin-left:2.4rem;
        }
    }
}

/* CONTAINER */
#container {
    // padding:6.4rem 0 0;
}


.section {  
    $root: &;  
    padding:2.4rem 2rem;
    &.option-bg {
        background-color:$c-primary;
        color:$c-default;
    }
}      

/* 하단고정 */
.fixed-bottom {
    $root: &;  
    position: fixed;
    bottom:0;  
    left:0;
    right:0;   
    &>.btn-wrap {
        background-color: $c-default;
    }
    
    /* 하단 랍계  */
    .footnote {
        background-color:$c-default;
        padding:$space-16 20px;
        border-radius:$b-raduius-20 $b-raduius-20 0 0;
        box-shadow:$b-shadow;
        
        .btn-wrap {  
            padding:.8rem 0 0;
        }
        .product-option-tit {
            margin-bottom:0;
        }
        .price {
            font-size:2.8rem
        }  
    }   
        
  
    /* 하단 네비게이션 */    
    .navigation {
        &-bottom {
            padding:0 2rem 2rem 2rem;
            .inr {
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                height:6.4rem;
                background-color:$c-default;  
                border-radius:$b-raduius-24;
                box-shadow: $b-shadow;
                &>a+a {
                    margin-left:$space-24;
                }
            }

            [class*=ico-] {
                display:block;
                width:3.2rem;
                height:3.2rem;
                position: relative;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .ico-home {
                background-image:url('../../img/ico-home.svg');
            }
            .ico-search {
                background-image:url('../../img/ico-search.svg');
            }
            .ico-request {
                background-image:url('../../img/ico-request.svg');
            }
            .ico-mypage {
                background-image:url('../../img/ico-mypage.svg');
            }
            .ico-basket {
                background-image:url('../../img/ico-basket.svg');
                .num {
                    &>i {
                        display:inline-flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 2rem;
                        min-height: 2rem;
                        background-color:$c-red;
                        border-radius: $b-raduius;
                        white-space: nowrap;
                    }
                    position: absolute;
                    top:-1rem;
                    right:-1rem;
                    background-color: $c-default;
                    padding:.2rem;
                    color:$c-default;
                    font-family: Work Sans;
                    font-size:1.4rem;
                    font-weight: 600;;
                    border-radius: $b-raduius;
                   
                }
            }
        }
        
    }
  
}
