
/* POPUP */
.layer {
    $root: &;
    &-popup {
        // display:none;
        position: fixed;
        left: 0rem;
        right: 0rem;
        top: 0rem;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        visibility: hidden;
        
        background-color:$c-default;  
        &.is-active {
            background-color: rgba(0, 0, 0, 0.5);
            visibility: visible;

            .inr {
                transform: translateY(0);
                height: 100%;
            }
        }
        .inr{
            padding:2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(100vh);
            transition: all 0.4s;
            background-color: $c-default;
        }
    }
    &-inr { 
         
        // .section {
        //     min-height: 30rem;
        // }
        // &::before {  
        //     display:block;
        //     content:"";
        //     width:100%;
        //     background-color: rgba(0, 0, 0, 0.3);
        //     position:absolute;
        //     top:0;
        //     bottom:0;
        //     right:0;
        //     left:0;
        // }
    }
    &-head {
        padding:2rem;  
        font-size: 1.5rem;  
    }
    &-close {
        position:absolute;
        top:0;
        right:0; 
    }
}
