/* TAB */
.tab {
    $root: &;
    &-list {
        display:flex;
        justify-content: space-around;
        gap:.8rem;
        >li{
            flex:1;
            >a {
                display: flex;
                align-items: center;
                justify-content: center;
                height:4.8rem;
                font-size:1.8rem;
                line-height: 100%;
                border-radius: 10rem;
                background-color:$c-tertiary;
                color:$c-black;
                font-weight: $f-bold;
            }
        }  
        li.is-active{
            >a {
                background-color: $c-primary;
                color:$c-default;
            }
        }
    }
    &-panel {
        display:none;  
        &-wrap {
            margin-top:$space-24;
        }   
        &.is-active{
            display:block;
        }
    }
}  