/* TAB */
.tab {
    $root: &;
    &-list {
        display:flex;
        justify-content: space-around;
        border:1px solid red;
        li.is-active{
            background-color: red;
        }
    }
    &-panel {
        display:none;     
        &.is-active{
            display:block;
        }
    }
}  