/* TITLE */
.page {  
    $root: &;
    &-tit {
        font-size: 2.8rem;
        &-wrap{
            margin-bottom:$space-24;
        }
        .highlight {
            color:$c-highlight2;
        }
    }
    &-txt {
        margin-top:2rem;
    }
}