[class*=btn-] {
    display:inline-flex;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

[class*=ico-] {
    display:inline-flex;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.ico-back {  
    width:4.8rem;
    height:4.8rem;
    background-image:url('./../../front/img/ico-back.svg');
    border-radius: $b-raduius;
    box-shadow: $b-shadow;
}

/* 수량 */
.control-qty {
    $root: &;
    display:flex;
    align-items: center;
    background-color:$c-gray3;
    border:1px solid $c-gray2;
    border-radius: $b-raduius-8;
    [class*=btn-] {
        width:4.8rem;
        height:4.8rem;
        position: relative;
        &:after {
            display: block;
            content:"";
            width:1.4rem;
            height:1.4rem;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
           
        }

    }
    .btn-minus {
        background-image:url('./../../front/img/ico-minus.svg');
    }
    .btn-plus {
        background-image:url('./../../front/img/ico-plus.svg');
    }
    input {
        width:4.8rem;
        height:4rem;
        background-color:$c-default ;
        text-align: center;
        border-radius: .7rem;
       
    }
}

/* 스크롤 */
.scroll {
    $root: &;
    &-wrap {
        margin:$space-16 0;
        overflow-y: auto;
    }
    &-list {
        display: flex;
        width:max-content;
        &>li+li {
            margin-left:.4rem;
        }
    }
}

/* 이미지 공통 */
.img-visual {
    display: inline-flex;;
    width: 100%;
    // height: 9.6rem;
    border-radius: $b-raduius-15;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
    }
}

/* 리스트 형태 */
.list {
    $root: &;
    &-item {
        border-bottom:1px solid $c-gray;
        &-link {
            border-top:1px solid $c-gray;
            font-size:1.8rem;
            &>a {
                display:flex;
                flex-direction: column;
                position: relative;
                padding:$space-16 2rem $space-16 0;
            }
            .ico-more {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1.6rem;
                height: 2.4rem;
                background: url("./../img/ico-more.svg");
            }
            .tit {
                font-weight: $f-bold;
            }
            .txt {
                margin-top:.5rem;
                font-size:1.4rem; 
                font-weight: $f-medium; 
            }
            &.pay-card {
                font-size:1.4rem;
                .tit {
                    display: flex;
                    align-items: center;
                    min-height: 3.2rem;
                    padding-left:6rem;
                }
                &.master {
                    .tit{
                        background: url("./../img/ico-card.svg") no-repeat 0 0 ;
                    }
                }
            }
        }
    }
}

/* 별점 */
.grade {
    $root: &;
    display: flex;
    align-items: center;
    width:9.8rem;    
    height:1.8rem;
    background-image:url('./../../front/img/ico-star-full.svg');
    background-position: 0 0;
    &-star {
        display:inline-flex;  
        width:100%;     
        height:100%;
        background-image:url('./../../front/img/ico-star.svg');
        background-repeat: repeat-x;
        background-position: 0 0;
        &.score1 {
            width: 2rem;  
        }
        &.score2 {
            width: calc(2 * 2rem);
        }
        &.score3 {
            width: calc(2 * 3rem);
        }  
        &.score4 {
            width: calc(2 * 4rem);
        }
        &.score5 {
            width: calc(2 * 5rem);
        }
    }
    &-txt {
        margin-left:.4rem;
    }
    &-wrap {
        display: flex;
        font-size:1.6rem;
        font-weight: $f-medium;
    }  
    &-sm {
        width:6.53rem;
        height:1.2rem;
        background-image:url('./../../front/img/ico-star-full-sm.svg');
        background-position: 0 0;
        .grade-star {  
            background-image:url('./../../front/img/ico-star-sm.svg');
            background-repeat: repeat-x;
            background-position: 0 -.2rem;
            &.score1 {
                width: 1.4rem;  
            }
            &.score2 {
                width: calc(1.4 * 2rem);
            }
            &.score3 {
                width: calc(1.4 * 3rem);
            }  
            &.score4 {
                width: calc(1.4 * 4rem);
            }
            &.score5 {
                width: calc(1.4 * 5rem);
            }
        }
        &+.grade-txt {
            max-width: 3rem;
            margin-left:.2rem;
            font-size:1rem;
        }
    }
}

/* radio */
.radio {
    $root: &;
    display:inline-flex;
    position: relative;
    &-ico {
         position: relative;
         &::before {
            display:block;
            content: "";
            width:100%;
            height:100%;
            border:1px solid $c-gray;  
         }
    }
    &-input:checked + &-label{
        .radio-ico::before {
            border:1px solid blue;
        }
        
    } 
    &.option-box {  
        $radio: '.radio';
        display:block;   
        #{$radio}-label { 
            display: flex;
            align-items: center;
            height:100%;
            padding:.8rem;
            border:1px solid $c-gray;  
            border-radius: $b-raduius-14;
            .img-visual {
                width:9.6rem;
                height:9.6rem;
                border:1px solid $c-gray;
                /* 이미지 작은사이즈 */
                &.sm {
                    width:4.8rem;  
                    height:4.8rem;
                    border-radius: .7rem;
                }
                &+ #{$radio}-txt {
                    margin-left:1.2rem;
                }
            }
          
           
        }
         #{$radio}-input:checked + #{$radio}-label{
            border-color: $c-primary;
            #{$radio}-txt {
                color:$c-primary;
                font-weight: $f-bold;  
            }
        }
        #{$radio}-txt {  
            flex:1;
            font-size: 2rem;
            font-weight: $f-medium;    
        }
        &+#{$radio}.option-box {
            margin-top:.8rem;
        }
    }
    &-wrap {
        $radio: '.radio';
        &.flex {
            #{$radio}+#{$radio} {
                margin:0 0 0 .8rem;
            }

            #{$radio}-label {
                padding:.8rem 1.6rem;
            }
        }
    }
}

/* 금액 */
.price {
    $root: &;
    font-size:2rem;
    font-weight:$f-bold;
    color:$c-price;
    &-dicount {
        margin-bottom:.5rem;
        font-size:2rem;
        font-weight:$f-bold;
        color:$c-black;
        text-decoration: line-through;
    }
    &-wrap {
        margin:$space-24 0;
    }
}

/* 분할 : Flex */
.flex {
    $root: &;
    display:flex;
    align-items: center;
    // &-between {
    //     justify-content: space-between;
    // }
    &-top {
        align-items: flex-start;
    }
    &-item {
        flex:1;
    }
    &-box {  
       .flex+.flex{
        margin-top:$space-16;
       } 
    }
    &-none {
        flex:none;
    }
    &-end {
        display:flex;
        justify-content: flex-end;
        text-align: right;
    }
}

/* 박스 */
.box {
    $root: &;
    padding:$space-24;
    margin:$space-24 0;
    border-radius:$b-raduius-24;
    box-shadow:$b-shadow;
    &.option-gray {
        border:1px solid $c-gray4;
        background-color:$c-gray3;
    }
    .tit {
        font-size:1.6rem;
    }
    .txt {
        font-size:1.6rem;
        font-weight: $f-medium;
    }
}

.card {
    $root: &;
    &-item-link {
        &+.card-item-link {
            margin-top:$space-16;
        }
        >a{
            display:flex;
            position: relative;
            padding:$space-24;
            border-radius:$b-raduius-24;
            box-shadow:$b-shadow;
        }
        .tit {
            font-size:2rem;
            font-weight: $f-medium;
            &-sub{
                font-size:2rem;
                font-weight: $f-bold;
                color:$c-primary;
            }
        }
        .flex-item+.flex-item{
            margin-right:$space-24;
        }
        .ico-more { 
            position: absolute;
            top:50%;
            right:2.4rem;
            transform: translateY(-50%);
            width:1.6rem;
            height:2.4rem;
            background:url('./../img/ico-more.svg');
        }
        &.review {
            min-height: 2.2rem;
            .tit {
                font-size:1.6rem;
                font-weight: $f-bold;
            }
        }
        &.info {
            .tit {
                font-weight: $f-bold;
            }
            .txt {
                margin-bottom:.8rem;
                font-size: 1.5rem;
                font-weight: $f-medium;
            }
        }
    }
}


/* 상품목록 */   
.product-list {
    $root: &;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: $space-16;
    row-gap:$space-24;
    &-link {
        &>a{
            display:flex;
            flex-direction: column;
            position:relative;
        }
        &.is-active {
            .btn-favor {
                &:before {
                    height:1.6rem;
                    background-image:url('./../../front/img/ico-heart-on.svg');
                }
            }
        }
    }
    &-visual {
        border-radius: $b-raduius-15;
        height:15.2rem;
    }
    &-txt {
        margin-top:1.2rem;
        .tit {
            font-size:1.6rem;
            font-weight:$f-medium;
        }  
        .price {
            margin-top:.4rem;
        }
    }
    .btn-favor {
        display:flex;
        align-items: center;
        justify-content: center;
        width:4rem;
        height:4rem;
        position: absolute;
        top:.8rem;
        right:.8rem;
        background-color:$c-default;
        border-radius:$b-raduius;
        z-index:100;
        &:before {
            display:flex;
            align-items: center;
            content:"";
            width:1.8rem;
            height:1.8rem;
            background-image:url('./../../front/img/ico-heart.svg');
        }
    }
    /* 연관추천상품 */
    &.option-recommend {
        $productList: '.product-list';
        grid-template-columns: auto auto auto;
        #{$productList}-link { 
            .img-visual {
                height:9.6rem;
                margin-bottom:1.4rem;
                border-radius: $b-raduius-8;
            }

            .tit {
                font-size:1.4rem;
                font-weight: $f-medium;
            }
            .price {
                margin:.8rem 0;
                font-size: 1.4rem;
            }
            }
      
    }  

    /* 연관추천상품 */
    .product-recommend {
      
        &-list {
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: $space-16;
            row-gap:$space-24;
        }
        &-visual {
            height:9.6rem;
            margin-bottom:1.4rem;
            border-radius: $b-raduius-8;
        }
        .tit {
            font-size:1.4rem;
            font-weight: $f-medium;
        }
        .price {
            margin:.8rem 0;
            font-size: 1.4rem;
        }
    }
}

/* 상품상세 */
.product-detail {
    $root: &;
    margin-bottom: $space-24;
    &-visual {
        height:21.6rem;  
    }
    &-txt {
        margin-top:$space-24;
        .tit {
            font-size:3.2rem;
        }
        .txt {
            margin-top:.8rem;
            font-size:1.6rem;
        }
    }

    &.option-info {
        .product-detail-visual {
            margin-bottom:3.2rem;
        }
    }
}

/* 블릿 */
.list {
    $root: &;
    &-number {
        font-size:1.6rem;
        font-weight: $f-medium;
    }
} 

/* 타이틀 + 텍스트 */
.list-info {
    $root: &;
    &-tit {
        font-size:1.6rem;
        font-weight: $f-bold;
    }
    &-txt {
        font-size:1.6rem;
        font-weight: $f-medium;
    }
    &-item+.list-info-item {
        margin-top:2rem;
    }
    &-box {
        .tit {
            margin-bottom:1.6rem;
            font-size:2.4rem;
            color:$c-primary;
        }
    }
}

/* 완료페이지 */
.complete {
    $root: &;
    padding-top:4rem;
    text-align: center;
    &:before{
        display:inline-flex;
        content:"";
        width:17.2rem;
        height:11.9rem;
        margin:2.5rem 0;
        background-image:url('./../../front/img/ico-complete.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    &-tit {
        font-size:2.4rem;
        font-weight: $f-bold;
    }
    &-sub {
        margin-top:.8rem;
        font-size:1.6rem;
        font-weight: $f-medium;
        word-break: break-word;
    }
}  




