/* 
    - 파일명 : _form.scss
    - 포함내용 : 데이터관련 요소 : 버튼, radio, tab, 검색영역
*/

/* BUTTON */
.btn {
    $root: &;
    display: inline-flex;
    align-items: center;  
    justify-content: center;      
    width: 100%; 
    height:5.7rem;            
    position: relative;          
    padding:1rem; 
    font-size:1.8rem;
    font-weight: $f-medium;
    line-height:1;
    text-align:center;
    color:$c-default ;
    border-radius: $b-raduius-16;  
    box-sizing: border-box;  
    overflow: hidden;
    &>span {  
        font-weight: $f-bold;
    }
    &.primary {
        background-color:$c-primary;    
    }
    &.secondary {
        background-color:$c-secondary;    
    }
    &.tertiary{
        background-color:$c-tertiary;  
        color:$c-black;  
    }
    &.default {
        background-color:$c-default;    
        color:$c-primary;
        border:1px solid $c-primary;;
    }
    &.kakao {
        background-color:$c-kakao;    
        color:$c-black ;
    }
    &.disabled {
        background-color:$c-gray;       
    }  
    &-wrap {  
        width: 100%;
        padding:1.6rem 2rem;
        &.option-split { 
            display: flex;
            gap:.8rem;
            .btn:first-child {
                width:9.9rem;
            }  
        }
        //해피콜
        .ico-call {
            flex:none;
            width:5.6rem;  
            height:5.6rem;
            background:$c-secondary url('././../../front/img/ico-call.svg') no-repeat center center;
            background-size: 2.8rem 2.4rem;
            border-radius:$b-raduius-16;
        }
    }
}      
 
/* radio */
.radio {
    $root: &;
    display:inline-flex;
    position: relative;
    &-ico {
         position: relative;
         &::before {
            display:block;
            content: "";
            width:100%;
            height:100%;
            border:1px solid $c-gray;  
         }
    }
    &-input:checked + &-label{
        .radio-ico::before {
            border:1px solid blue;
        }
        
    } 
    &.option-box {  
        $radio: '.radio';
        display:block;   
        #{$radio}-label { 
            display: flex;
            align-items: center;
            height:100%;
            padding:.8rem;
            border:1px solid $c-gray;  
            border-radius: $b-raduius-14;
            .img-visual {
                width:9.6rem;
                height:9.6rem;
                border:1px solid $c-gray;
                /* 이미지 작은사이즈 */
                &.sm {
                    width:4.8rem;  
                    height:4.8rem;
                    border-radius: .7rem;
                }
                &+ #{$radio}-txt {
                    margin-left:1.2rem;
                }
            }
          
           
        }
         #{$radio}-input:checked + #{$radio}-label{
            border-color: $c-primary;
            #{$radio}-txt {
                color:$c-primary;
                font-weight: $f-bold;  
            }
        }
        #{$radio}-txt {  
            flex:1;
            font-size: 2rem;
            font-weight: $f-medium;    
        }
        &+#{$radio}.option-box {
            margin-top:.8rem;
        }
    }
    &-wrap {
        $radio: '.radio';
        &.flex {
            #{$radio}+#{$radio} {
                margin:0 0 0 .8rem;
            }

            #{$radio}-label {
                padding:.8rem 1.6rem;
            }
        }
    }
}

/* 검색영역 */
.search-input {
    $root: &;
    width:100%;
    position: relative;
    margin:$space-24 0;
    .input {
        display: flex;
        height:5rem;
        background-color: $c-gray2;
        padding:1.3rem 1.7rem;
        font-size:1.4rem;
        font-weight: $f-medium;
        border-radius: $b-raduius-15;
        input{
            padding:0 0 0 3.8rem;
            color:$c-black2;
            &::placeholder{
                color:$c-black2;
            }
        }
    }
    [class*=btn-] {
        width:2.4rem;
        height:2.4rem;
    }
    .btn {  
        &-search{
            position:absolute;
            top:1.3rem;
            left:1.7rem;
            background-image:url('./../../front/img/ico-search.svg');
        }
        &-sort {
            background-image:url('./../../front/img/ico-sort.svg');
        }
    }
}
