/* 검색영역 */
.search-input {
    $root: &;
    width:100%;
    position: relative;
    margin:$space-24 0;
    .input {
        display: flex;
        height:5rem;
        background-color: $c-gray2;
        padding:1.3rem 1.7rem;
        font-size:1.4rem;
        font-weight: $f-medium;
        border-radius: $b-raduius-15;
        input{
            padding:0 0 0 3.8rem;
            color:$c-black2;
            &::placeholder{
                color:$c-black2;
            }
        }
    }
    [class*=btn-] {
        width:2.4rem;
        height:2.4rem;
    }
    .btn {  
        &-search{
            position:absolute;
            top:1.3rem;
            left:1.7rem;
            background-image:url('./../../front/img/ico-search.svg');
        }
        &-sort {
            background-image:url('./../../front/img/ico-sort.svg');
        }
    }
}