
/* POPUP */
.layer {
    $root: &;
    &-inner {
        display:flex;  
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        position:relative;
        z-index: 101;
        transform: translateY(100vh);
        transition: all 0.4s;
        .inr {
            position: relative;
            padding:0 2rem;
            background-color:$c-default;
            overflow-y: auto;
        }
    }
    &-head {       
        font-size: 2.8rem;  
    }
    &-head {
        font-size: 2.8rem;  
    }
    &-content {
        padding:$space-24 0 0     
    }  
    &-footer {
        padding:$space-16 0;
        .btn-wrap {
            padding:0;
        }
    }  
    &-popup {    
        $layerInner: '.layer-inner';    
        $layerHead: '.layer-head';    
        display: flex;
        position: absolute;
        left: 0rem;
        right: 0rem;
        top: 0rem;
        bottom: 0;
        visibility: hidden;
        &:after {
            display: block;
            content:"";
            position: absolute;
            left: 0rem;
            right: 0rem;
            top: 0rem;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);  
            z-index: 100;
            
        }
          &.is-active {
            visibility: visible;
            #{$layerInner} {
                transform: translateY(0);  
            }
        }
        .section {
            padding:0;
        }
        /* 풀팝업 */
        &.option-full {
            .inr {
                height:100%;
            }
        }
        /* 바텀팝업 */
        &.option-bottom {  
            .inr {
                max-height: calc(100vh - 2rem);
                border-radius: $b-raduius-20 $b-raduius-20 0 0;
            }

            #{$layerHead} {
                padding-top:4.8rem;
            }
        }

        .btn-touch{
            width:13rem;
            height:.4rem;
            background-color: $c-gray;
            position:absolute;
            top:1.8rem;
            left:50%;
            transform: translateX(-50%);

        }
        /* 검색 팝업 */  
        #{$layerHead} {
            $searchInput: '.search-input';
            #{$searchInput}{  
                margin:.8rem 0;                
            }
            #{$searchInput}-wrap {
                gap:1.6rem
            }
        }
        .word {
            &-tit {
                margin-bottom:2rem;
                font-size:1.6rem;  
                font-weight: $f-medium;
            }
            &-list {
                &>li {
                    border-bottom:1px solid $c-gray;
                }
                &>li:first-child{
                    border-top:1px solid $c-gray;
                }
                a {
                    display: block;
                    padding:2rem 0;
                    font-size:1.6rem;
                    font-weight: $f-bold;
                }
            }
        }

        /* 옵션선택 */
        .option-selection {
            .product-option-wrap {
                margin-top:0;
            }
            .product-option-wrap+ .product-option-wrap {
                margin-top:2.4rem;
                padding-top:2.4rem;
                border-top:1px solid $c-gray2;
            }
        }
        
    }        
}


