/* TITLE */
.page {  
    $root: &;
    &-tit {
        font-size: 2.8rem;
        &-wrap{
            margin-bottom:$space-24;
            &.option-sub {
                margin-bottom:$space-16;
                .page-tit {
                    font-size: 2.4rem;
                }  
                
            } 
        }
    }
    &-txt {
        margin-top:2rem;
    }
}