/* 
    - 파일명 : _module.scss
    - 포함내용 : 변수 컬러, 폰트굵기, 간격, boxshadow, raduius
*/

/* color */
$c-primary:#0FAD02;
$c-secondary:#2C00DE;
$c-tertiary:#EEE;  
$c-default :#fff;
$c-highlight:#E9FD00;  
$c-kakao:#FDE500;
$c-black:#111;
$c-black2:#000;
$c-price:#FF0707;
$c-red:#FF2626;
$c-gray:#DDDDDD;
$c-gray2:#EEE;
$c-gray3:#F5F5F5;
$c-gray4 :#E8E8E8;
$c-gray5 :#EAEAEA; 
$c-lightBlack:#3E4958;

/* font-weight */  
$f-normal:300;    
$f-medium:500;    
$f-bold:700;    

/* space */
$space-16:1.6rem;       
$space-24:2.4rem;  

/* boxshadow */
$b-shadow:0px 14px 56px 0px rgba(0, 0, 0, 0.14);  

/* raduius */
$b-raduius-8:.8rem;
$b-raduius-14:1.4rem;
$b-raduius-15:1.5rem; 
$b-raduius-16:1.6rem;
$b-raduius-20:2rem;
$b-raduius-24:2.4rem;
$b-raduius:100%;




  



